.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;

    justify-content: start;

    align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between;

    align-content: start;

    justify-items: start;
    justify-items: end;
    justify-items: stretch;

    align-items: center;
    align-items: stretch;

    padding: 10px;
    height: 90vh;
}
.item {
    background-color: #ccc;
    text-align: center;
    padding: 20px 10px;
}

.active {
    justify-self: start;
    justify-self: end;
    justify-self: center;
    align-self: center;
}

