.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "a a a a a" "b . d d d" "e e e f g";
    padding: 10px;
}
.item {
    background-color: #ccc;
    text-align: center;
    padding: 20px 10px;
}

.item-a {
    grid-area: a;
}
.item-b {
    grid-area: b;
}
.item-c {
    grid-area: c;
}
.item-d {
    grid-area: d;
}
.item-e {
    grid-area: e;
}
.item-f {
    grid-area: f;
}
.item-g {
    grid-area: g;
}